@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(icons/pexels-photo-11254042.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.main{
    width: 400px;
    border-radius: 7px;
    background: #85c2eed0;
}

.main header{
    color: #05375c;
    font-size: 21px;
    font-weight: 500;
    padding: 16px 15px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #05375c;
}

header i{
    cursor: pointer;
    font-size: 30px;
    margin-left: 8px;
}

.main.active header i{
    font-size: 30px;
    margin-left: 5px;
}

.main .input_sec{
    margin: 20px 25px 30px;
}

.main.active .input_sec{
    display: none;
}

.input_sec .info{
    display: none;
    font-size: 17px;
    background: red;
    text-align: center;
    padding: 12px 10px;
    border-radius: 7px;
    margin-bottom: 15px;
}

.info.error{
    display: block;
    color: #721c24;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
}

.info.pending{
    display: block;
    color: #0c5460;
    background: #d1ecf1;
    border: 1px solid #bee5eb;
}

.input_sec :where(input, button){
    width: 100%;
    height: 55px;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 7px;
}

.input_sec input{
    text-align: center;
    border: 1px solid #bfbfbf;
}

.input_sec input:is(:focus, :valid){
    border: 2px solid #05375c;
}

.input_sec .sorter{
    height: 1px;
    width: 100%;
    margin: 25px 0;
    background: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sorter::before{
    content: "or";
    color: #ccc;
    font-size: 19px;
    padding: 0 15px;
    background: #fff;
}

